body{
    display: flex;
    flex-direction: column;
}

#header{
    display: inline-flex;
    float: left;
    margin: 2%;
}

.logo{
    margin: 2%;
    color: aliceblue;
}

#search_area{
    display: inline-flex;
    justify-content: center;
}

.form-control{
    max-width: 40vw;
}

.jumbotron{
    margin: 0 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/15/56/675822d6fc95042.jpg);
}

#lower_display{
    display: flex;
    flex-direction: column;
    padding: 15vh;
    justify-content: center;
    background: url(../images/backgrounds/home.jpg);
}

#yelpCard{
    margin: 10%;
    display: inline-flex;
    justify-content: space-between;
}

.card{
    margin: 5%;
}

.results{
    color: aliceblue;
    font-size: x-large;
}

#search_results{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#resultCityName{
    text-align: center;
}
#suggestion_header{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
}

#yelpCard{
    display: inline-flex;
    justify-content: space-around;
}