body{
    display: flex;
    flex-direction: column;
}

#header{
    float: left;
    margin: 2%;
}

#logo{
    max-width: 35%;
}

#search_area{
    display: inline-flex;
    justify-content: center;
}

.form-control{
    max-width: 40vw;
}

#upper_display{
    margin: 0 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/15/56/675822d6fc95042.jpg);
}

#lower_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/backgrounds/home.jpg);
}

.results{
    color: aliceblue;
    font-size: x-large;
}

#search_results{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#resultCityName{
    text-align: center;
}
#suggestion_header{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
}

.container {
    align-items: center;
}

#mainID {
    justify-content: space-evenly;
    display: inline-flex;
}

#newCard {
    margin: auto;
}
